{% extends "pages\base.html" %}

{% block title %} О нас {% endblock %}

{% block content %}
<h1>Наша цель</h1>
<p>Мы в NoteFlow стремимся помочь людям быстро сохранять и находить важные мысли и идеи. Наша команда состоит из увлеченных профессионалов, которые верят в силу организации и простоты в повседневной жизни.</p>
<p>Мы понимаем, что в современном мире, где информация окружает нас повсюду, важно иметь надежный инструмент для управления своими заметками. Наша миссия — создать приложение, которое будет не только функциональным, но и удобным в использовании, чтобы каждый мог сосредоточиться на своих идеях, а не на процессе их записи.</p>

<p>Мы ценим:</p>
<ul>
    <li><strong>Простоту:</strong> Мы стремимся сделать интерфейс интуитивно понятным, чтобы каждый мог легко начать использовать наше приложение.</li>
    <li><strong>Доступность:</strong> Мы хотим, чтобы NoteFlow был доступен для всех, независимо от уровня технической подготовки.</li>
    <li><strong>Поддержку пользователей:</strong> Мы всегда готовы выслушать отзывы и предложения, чтобы улучшить наш продукт.</li>
    <li><strong>Инновации:</strong> Мы постоянно работаем над новыми функциями и улучшениями, чтобы сделать ваше взаимодействие с приложением еще более приятным.</li>
</ul>

<p>Присоединяйтесь к нам в NoteFlow и начните упрощать свою жизнь, сохраняя важные мысли и идеи в одном месте!</p>

{% endblock %}